.calender {
    padding: 20px;
    flex: 1;
}
.header_calender{
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 30px;
}
.contain_calender{
    display: flex;
    justify-content: space-between;
}
.table{
    flex: 1;
    padding: 10px;
}